<style>
	html, body {
		height: 100%;
	}

	body {
		background-color: #000000;
		margin: 0;
		font-family: Helvetica, sans-serif;;
		overflow: hidden;
	}

	a {
		color: #ffffff;
	}

	#info {
		position: absolute;
		width: 100%;
		color: #ffffff;
		padding: 5px;
		font-family: Monospace;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		z-index: 1;
	}

	#menu {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}

	.file-wrapper {
		width: 1200px;
		height: 720px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
	}

	.file {
		width: 300px;
		height: 180px;
		box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
		border: 1px solid rgba(127,255,255,0.25);
		text-align: center;
		cursor: default;
	}

	.file:hover {
		box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
		border: 1px solid rgba(127,255,255,0.75);
	}

	.file .id {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		color: rgba(127,255,255,0.75);
	}

	.file .type {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
	}

	.file .name {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 20px;
		color: rgba(127,255,255,0.75);
	}

	button {
		color: rgba(127,255,255,0.75);
		background: transparent;
		outline: 1px solid rgba(127,255,255,0.75);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
	}
	button:hover {
		background-color: rgba(0,255,255,0.5);
	}
	button:active {
		color: #000000;
		background-color: rgba(0,255,255,0.75);
	}
</style>
<div id="container">

</div>
<div id="menu">
	<!--<button id="table">TABLE</button>-->
	<!--<button id="sphere">SPHERE</button>-->
	<!--<button id="helix">HELIX</button>-->
	<!--<button id="grid">GRID</button>-->
</div>
<script src="/js/vendor/CSS3DRenderer.js"></script>
<script src="/js/vendor/tween.min.js"></script>
<script>
	var camera, scene, renderer;
	var controls;

	var table = [];
	var objects = [];
	var targets = { table: [], sphere: [], helix: [], grid: [] };

	$(function() {
		init();
		animate();
		listener();
		sortDOM();
	});

	// DOM file class
	function FileNode() {
		this.file;
		this.id;
		this.name;
		this.type;
	}

	FileNode.prototype.initialize = function(table) {
		var file = this.file;
		var id = this.id;
		var name = this.name;
		var type = this.type;

		var x = 1000;
		var index = 0;

		for(var i = 0; i < 5; i++) {
			var fileId = table[i].id;
			var fileName = table[i].name;
			var fileType = table[i].type;
			var fileTimestamp = table[i].timestamp;

			file = document.createElement('div');
			file.className = 'file ' + fileType.toLowerCase();
			file.style.backgroundColor = 'rgba(0,127,127,' + ( Math.random() * 0.5 + 0.25 ) + ')';

			id = document.createElement('div');
			id.className = 'id';
			id.textContent = (fileId);
			file.appendChild(id);

			type = document.createElement('div');
			type.className = 'type';
			type.textContent = fileType;
			file.appendChild(type);

			name = document.createElement('div');
			name.className = 'name';
			name.innerHTML = fileName + '<br>' + fileTimestamp;
			file.appendChild(name);

			var contentWrap = document.createElement('div');
			contentWrap.className = 'file-wrapper';
			contentWrap.appendChild(file);
//			contentWrap.innerHTML = '<p style="color: white; font-size: 10em;">hello</p>'

			var object = new THREE.CSS3DObject(contentWrap);
			object.position.x = Math.random() * 4000 - 2000;
			object.position.y = Math.random() * 4000 - 2000;
			object.position.z = Math.random() * 4000 - 2000;

			scene.add(object);

			objects.push(object);

			/**
			 * Arrange Object
			 * i % x has to be the same as i / y
			 * z axis i/z = x*y
			 */

			object = new THREE.Object3D();
			object.position.x = ( ( i % 4 ) * 350 ) - x;
			object.position.y = ( - ( Math.floor( index / 4 ) % 8 ) * 200 ) + 200;
//			object.position.z = ( Math.floor( i / 32 ) ) * 1000 - 2000;
			targets.table.push( object );

			x -= 1000;
			// Sorts the Files into sections. Array has to be sorted by type first.
			if(typeof table[i+1] !== 'undefined') {
				if (table[i + 1].type !== fileType) {
					// offset
					x -= 1600;
					index = 0;
				}
				else {
					index++;
				}
			}
		}
	};

	function createFile(id, type, name, time) {
		return file = {
			id: id,
			type: type,
			name: name,
			timestamp: getTime()
		};
	}

	function getTime() {
		var dt = new Date();
		return dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
	}

	function init() {
		scene = new THREE.Scene();

		camera = new THREE.PerspectiveCamera(40, window.innerWidth/window.innerHeight, 1, 10000);
		camera.position.z = 3000;

		// RAR
		for(var i = 0; i < 10; i++) {
			table.push(createFile(i+1, 'RAR', 'TestingZipFile'));
		}

		// PNG
		for(var i = 0; i < 10; i++) {
			table.push(createFile(i+1, 'PNG', 'Family Photo'));
		}

		// PTTX
		for(var i = 0; i < 10; i++) {
			table.push(createFile(i+1, 'PPTX', 'Proposal Presentation'));
		}

		// Doc
		for(var i = 0; i < 10; i++) {
			table.push(createFile(i+1, 'DOC', 'Executive Summary'));
		}

		var fileNode = new FileNode();
		fileNode.initialize(table);

		renderer = new THREE.CSS3DRenderer();
		renderer.setSize( window.innerWidth, window.innerHeight );
		renderer.domElement.style.position = 'absolute';
		document.getElementById('container').appendChild( renderer.domElement );

		controls = new THREE.OrbitControls(camera, renderer.domElement );
		controls.rotateSpeed = 0.5;
		controls.minDistance = 500;
		controls.maxDistance = 6000;
		controls.addEventListener( 'change', render );

		transform( targets.table, 2000 );
		window.addEventListener( 'resize', onWindowResize, false );
	}

	function sortDOM() {
		$('.rar').wrapAll('<div class="rarWrapper"></div>');
	}

	function transform( targets, duration ) {

		TWEEN.removeAll();

		for ( var i = 0; i < objects.length; i ++ ) {

			var object = objects[ i ];
			var target = targets[ i ];

			new TWEEN.Tween( object.position )
							.to( { x: target.position.x, y: target.position.y, z: target.position.z }, Math.random() * duration + duration )
							.easing( TWEEN.Easing.Exponential.InOut )
							.start();

			new TWEEN.Tween( object.rotation )
							.to( { x: target.rotation.x, y: target.rotation.y, z: target.rotation.z }, Math.random() * duration + duration )
							.easing( TWEEN.Easing.Exponential.InOut )
							.start();
		}

		new TWEEN.Tween( this )
						.to( {}, duration * 2 )
						.onUpdate( render )
						.start();

	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();

		renderer.setSize( window.innerWidth, window.innerHeight );

		render();
	}

	var i =0;

	function listener() {
		$('#container').on('click', '.file', function() {
			i++;
			scene.remove(objects[i]);
		});
	}

	function animate() {
		requestAnimationFrame( animate );
		TWEEN.update();
		controls.update();

	}

	function render() {
		renderer.render( scene, camera );

	}

</script>