
<!--<script>-->
  <!--$(function() {-->
    <!--init();-->
    <!--loadCircle();-->
    <!--animate();-->
  <!--});-->

  <!--var camera, cScene, cssScene, cssRenderer, cRenderer, controls;-->

  <!--var width = window.innerWidth,-->
      <!--height = window.innerHeight;-->

  <!--function init() {-->
    <!--cScene = new THREE.Scene();-->
    <!--cssScene = new THREE.Scene();-->

    <!--camera = new THREE.PerspectiveCamera(60, width/height, .1, 10000);-->
    <!--camera.position.z = 2;-->

    <!--cRenderer = new THREE.CanvasRenderer();-->
    <!--cRenderer.setSize(width, height);-->

    <!--cssRenderer = new THREE.CSS3DRenderer();-->
    <!--cssRenderer.setSize( window.innerWidth, window.innerHeight );-->
    <!--cssRenderer.domElement.style.position = 'absolute';-->



    <!--controls = new THREE.OrbitControls(camera, cRenderer.domElement);-->

    <!--$("#container").append(cRenderer.domElement);-->

    <!--$(window).resize(function(){-->
      <!--var SCREEN_WIDTH = window.innerWidth;-->
      <!--var SCREEN_HEIGHT = window.innerHeight;-->

      <!--camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;-->
      <!--camera.updateProjectionMatrix();-->

      <!--cRenderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );-->
    <!--});-->
  <!--}-->

  <!--function loadCircle() {-->
    <!--var geometry = new THREE.Geometry();-->
    <!--var material = new THREE.LineBasicMaterial({-->
      <!--color: 0x379392,-->
      <!--linewidth: 3-->
    <!--});-->

    <!--var radius = 1;-->
    <!--var objResolution = 361;-->

    <!--// Draw Circle-->
    <!--for(var i = 0; i < objResolution; i++) {-->
      <!--// Convert angle to radians-->
      <!--var angle = i * Math.PI/180;-->

      <!--// X Coordinates-->
      <!--x = radius * Math.cos(angle);-->
      <!--y = radius * Math.sin(angle);-->
      <!--z = 0;-->

      <!--geometry.vertices.push(new THREE.Vector3(x, y, z));-->
    <!--}-->


    <!--var obj = new THREE.Line(geometry, material);-->
    <!--var obj2 = new THREE.Line(geometry, material);-->

    <!--obj.position.z = 0;-->
    <!--obj2.position.z = -1;-->
    <!--cScene.add(obj);-->
    <!--cScene.add(obj2);-->

    <!--var geometry2 = new THREE.Geometry();-->

    <!--geometry2.vertices.push(obj.geometry.vertices[200]);-->
    <!--geometry2.vertices.push(obj2.geometry.vertices[100]);-->

    <!--console.log(geometry2);-->

    <!--var material2 = new THREE.LineBasicMaterial( { color: 0xffffff, linewidth: 2 } );-->
    <!--var line = new THREE.Line(geometry2, material2);-->
    <!--cScene.add(line);-->

  <!--}-->

  <!--function animate() {-->
    <!--requestAnimationFrame(animate);-->
    <!--cRenderer.render(cScene, camera);-->
  <!--}-->

<!--</script>-->
<!--<style>-->
	<!--.arc {-->
		<!--width: 300px;-->
		<!--height: 180px;-->
		<!--box-shadow: 0px 0px 12px rgba(0,255,255,0.5);-->
		<!--border: 1px solid rgba(127,255,255,0.25);-->
		<!--text-align: center;-->
	<!--}-->
<!--</style>-->
<!--<script src="/js/vendor/CSS3DRenderer.js"></script>-->
<!--<script src="/js/vendor/tween.min.js"></script>-->

<!--<script src="/js/vendor/Projector.js"></script>-->
<!--<script src="/js/vendor/CanvasRenderer.js"></script>-->
<!--<script>-->
	<!--var camera, light, scene, renderer, rectangle, scene2, renderer2, div, controls;-->
	<!--var scene2, renderer2;-->

	<!--init();-->
	<!--animate();-->

	<!--function init() {-->
		<!--//camera-->
		<!--camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 10000);-->
		<!--camera.position.set(0, 0, -1000);-->

		<!--//controls-->
		<!--controls = new THREE.OrbitControls(camera);-->
		<!--controls.rotateSpeed = 1.0;-->
		<!--controls.zoomSpeed = 1.2;-->
		<!--controls.panSpeed = 0.8;-->

		<!--//Scene-->
		<!--scene = new THREE.Scene();-->

		<!--//CubeGeometry-->
		<!--rectangle = new THREE.Mesh(new THREE.CubeGeometry(600, 350, 100), new THREE.MeshPhongMaterial());-->
		<!--scene.add(rectangle);-->

		<!--//TorusGeometry-->
		<!--var torus = new THREE.Mesh(new THREE.TorusGeometry(60, 30, 20, 20),-->
						<!--new THREE.MeshNormalMaterial());-->
		<!--torus.position.set(10, 0, -200);-->
		<!--scene.add(torus);-->

		<!--//HemisphereLight-->
		<!--hemiLight = new THREE.HemisphereLight(0xffbf67, 0x15c6ff);-->
		<!--scene.add(hemiLight);-->

		<!--//WebGL Renderer-->
		<!--renderer = new THREE.CanvasRenderer({ antialias: true });-->
		<!--renderer.setClearColor(0xffffff, 1)-->
		<!--renderer.setSize(window.innerWidth, window.innerHeight);-->
		<!--renderer.domElement.style.zIndex = 5;-->
		<!--document.body.appendChild(renderer.domElement);-->

		<!--//CSS3D Scene-->
		<!--scene2 = new THREE.Scene();-->

		<!--//HTML-->
		<!--element = document.createElement('div');-->
		<!--element.innerHTML = 'Plain text inside a div.';-->
		<!--element.className = 'animated bounceInDown' ;-->
		<!--element.style.background = "#0094ff";-->
		<!--element.style.fontSize = "2em";-->
		<!--element.style.color = "white";-->
		<!--element.style.padding = "2em";-->

		<!--//CSS Object-->
		<!--div = new THREE.CSS3DObject(element);-->
		<!--div.position.x = 8;-->
		<!--div.position.y = 9;-->
		<!--div.position.z = 185;-->
		<!--scene2.add(div);-->

		<!--//CSS3D Renderer-->
		<!--renderer2 = new THREE.CSS3DRenderer();-->
		<!--renderer2.setSize(window.innerWidth, window.innerHeight);-->
		<!--renderer2.domElement.style.position = 'absolute';-->
		<!--renderer2.domElement.style.top = 0;-->
		<!--document.body.appendChild(renderer2.domElement);-->
	<!--}-->

	<!--function animate() {-->
		<!--requestAnimationFrame(animate);-->
		<!--renderer2.render(scene2, camera);-->
		<!--renderer.render(scene, camera);-->
		<!--controls.update();-->
	<!--}-->
<!--</script>-->
<script src="/js/vendor/tween.min.js"></script>
<script src="/js/vendor/CSS3DRenderer.js"></script>
<style>
	.file {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		/*box-shadow: 0px 0px 12px rgba(0,255,255,0.5);*/
		border: 10px solid white;
		text-align: center;
		cursor: default;
	}

	.file:hover {
		box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
		border: 1px solid rgba(127,255,255,0.75);
	}

	.file .id {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 30px;
		color: rgba(127,255,255,0.75);
	}

	.file .type {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
	}

	.file .name {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 20px;
		color: rgba(127,255,255,0.75);
	}
</style>
<div id="container">

</div>

<script>
	$(function() {
		init();
		animate();
	});

	var camera, sceneGL, rendererGL, sceneCss, rendererCss, div, controls;

	var objects = [];
	var table = [];
	var targets = { table: [], sphere: [], helix: [], grid: [] };

	function init() {
		// Doc
		for(var i = 0; i < 10; i++) {
			table.push(createFile(i+1, 'DOC', 'Executive Summary'));
		}

		//camera
		camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 10000);
		camera.position.set(0, 0, -1000);

		//WebGL Renderer
		rendererGL = new THREE.WebGLRenderer({ antialias: true });
		rendererGL.setSize(window.innerWidth, window.innerHeight);
		rendererGL.domElement.style.zIndex = 5;
		document.body.appendChild(rendererGL.domElement);

		// WebGL renderer
		sceneGL = new THREE.Scene();

		//CSS3D Renderer
		rendererCss = new THREE.CSS3DRenderer();
		rendererCss.setSize(window.innerWidth, window.innerHeight);
		rendererCss.domElement.style.position = 'absolute';
		rendererCss.domElement.style.top = 0;
		document.body.appendChild(rendererCss.domElement);

		//CSS3D Scene
		sceneCss = new THREE.Scene();

		//controls
		controls = new THREE.OrbitControls(camera);
		controls.rotateSpeed = 1.0;
		controls.zoomSpeed = 1.2;
		controls.panSpeed = 0.8;

		var fileInit = new FileNode();
		fileInit.initialize(table);

		transform(targets.table, 2000);

		window.addEventListener( 'resize', onWindowResize, false );
	}

	function transform( targets, duration ) {
		TWEEN.removeAll();

		for ( var i = 0; i < objects.length; i ++ ) {

			var object = objects[i];
			var target = targets[i];

			new TWEEN.Tween( object.position )
							.to( { x: target.position.x, y: target.position.y, z: target.position.z }, Math.random() * duration + duration )
							.easing( TWEEN.Easing.Exponential.InOut )
							.start();

			new TWEEN.Tween( object.rotation )
							.to( { x: target.rotation.x, y: target.rotation.y, z: target.rotation.z }, Math.random() * duration + duration )
							.easing( TWEEN.Easing.Exponential.InOut )
							.start();
		}

		new TWEEN.Tween( this )
						.to( {}, duration * 2 )
						.onUpdate(render)
						.start();

	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();

		rendererCss.setSize( window.innerWidth, window.innerHeight );
		rendererGL.setSize( window.innerWidth, window.innerHeight );

		render();
	}

	function render() {
		rendererCss.render(sceneCss, camera);
		rendererGL.render(sceneGL, camera);
	}

	function animate() {
		requestAnimationFrame(animate);
		TWEEN.update();
		render();
		controls.update();
	}

	function createFile(id, type, name) {
		return file = {
			id: id,
			type: type,
			name: name,
			index: ""
		};
	}

	function FileNode() {
		this.file;
		this.id;
		this.name;
		this.type;
	}

	FileNode.prototype.initialize = function(table) {
		var file = this.file;
		var id = this.id;
		var name = this.name;
		var type = this.type;

		var x = 1800;
		var index = 0;
		var contentWrap = document.createElement('div');
		contentWrap.className = 'content-wrap';
		contentWrap.innerHTML = '<p style="color: white; font-size: 10em;">hello</p>'


		for(var i = 0; i < table.length; i++) {
			var fileId = table[i].id;
			var fileName = table[i].name;
			var fileType = table[i].type;
			var fileTimestamp = table[i].timestamp;

			file = document.createElement('div');
			file.className = 'file ' + fileType.toLowerCase();
//			file.style.backgroundColor = 'rgba(0,127,127,' + ( Math.random() * 0.5 + 0.25 ) + ')';

			id = document.createElement('div');
			id.className = 'id';
			id.textContent = (fileId);
			file.appendChild(id);

			type = document.createElement('div');
			type.className = 'type';
			type.innerHTML = fileType;
			file.appendChild(type);

			name = document.createElement('div');
			name.className = 'name';
			name.innerHTML = 'X: '+( ( ( i % 4 ) * 350 ) - x) + '<br>' + 'Y: ' +( - ( Math.floor( index / 4 ) % 8 ) * 200 ) + 800;
			file.appendChild(name);

//			console.log('File Type: ' + fileType + '\n FileID: ' + fileId + '\n Index: ' + i + '\nX offset: ' + x);

			var object = new THREE.CSS3DObject(file);
			object.position.x = -5;
			object.position.y = 100;
			object.position.z = 100;

			sceneCss.add(object);

			objects.push(object);

			/**
			 * Arrange Object
			 * i % x has to be the same as i / y
			 * z axis i/z = x*y
			 */

			object = new THREE.Object3D();
			object.position.x = ( ( i % 4 ) * 350 ) - x;
			object.position.y = ( - ( Math.floor( index / 4 ) % 8 ) * 200 ) + 800;
//			object.position.z = ( Math.floor( i / 32 ) ) * 1000 - 2000;
			targets.table.push(object);

			// Sorts the Files into sections. Array has to be sorted by type first.
			if(typeof table[i+1] !== 'undefined') {
				if (table[i + 1].type !== fileType) {
					// offset
					x -= 1600;
					index = 0;
				}
				else {
					index++;
				}
			}
		}
	};
</script>
